<a href="https://colab.research.google.com/github/GilvaneideMedeiros/Trabalho-no-colab-Imersao-aula1/blob/main/Aula_1-Imers%C3%A3o_Dados_com_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Aula 1 - Imersão Dados com Python

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/guilhermeonrails/data-jobs/refs/heads/main/salaries.csv")

In [5]:
df.head(10)

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2025.0,SE,FT,Solutions Engineer,214000,USD,214000,US,100,US,M
1,2025.0,SE,FT,Solutions Engineer,136000,USD,136000,US,100,US,M
2,2025.0,MI,FT,Data Engineer,158800,USD,158800,AU,0,AU,M
3,2025.0,MI,FT,Data Engineer,139200,USD,139200,AU,0,AU,M
4,2025.0,EN,FT,Data Engineer,90000,USD,90000,US,0,US,M
5,2025.0,EN,FT,Data Engineer,80000,USD,80000,US,0,US,M
6,2025.0,SE,FT,Data Scientist,185000,USD,185000,US,0,US,M
7,2025.0,SE,FT,Data Scientist,148000,USD,148000,US,0,US,M
8,2025.0,MI,FT,Data Scientist,135000,USD,135000,CA,0,CA,M
9,2025.0,MI,FT,Data Scientist,108000,USD,108000,CA,0,CA,M

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133349 entries, 0 to 133348
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   work_year           133339 non-null  float64
 1   experience_level    133349 non-null  object
 2   employment_type     133349 non-null  object
 3   job_title           133349 non-null  object
 4   salary              133349 non-null  int64
 5   salary_currency     133349 non-null  object
 6   salary_in_usd       133349 non-null  int64
 7   employee_residence  133349 non-null  object
 8   remote_ratio        133349 non-null  int64
 9   company_location    133349 non-null  object
 10  company_size        133349 non-null  object
dtypes: float64(1), int64(3), object(7)
memory usage: 11.2+ MB

In [8]:
df.describe()

           work_year        salary  salary_in_usd   remote_ratio
count  133339.000000  1.333490e+05  133349.000000  133349.000000
mean     2024.358770  1.632833e+05  157617.272098      20.905669
std         0.680627  2.173860e+05   74288.363097      40.590044
min      2020.000000  1.400000e+04   15000.000000       0.000000
25%      2024.000000  1.060200e+05  106000.000000       0.000000
50%      2024.000000  1.470000e+05  146206.000000       0.000000
75%      2025.000000  1.990000e+05  198000.000000       0.000000
max      2025.000000  3.040000e+07  800000.000000     100.000000

In [9]:
df.shape

(133349, 11)

In [28]:
linhas, colunas = df.shape[0], df.shape[1]
print('Nº de linhas:', linhas)
print('Nº de colunas:', colunas)

Nº de linhas: 133349
Nº de colunas: 11

In [29]:
df.columns

Index(['ano', 'nivel_experiencia', 'tipo_emprego', 'cargo', 'salario',
       'moeda_salario', 'salario_em_usd', 'residencia_funcionario',
       'taxa_remoto', 'localizacao_empresa', 'porte_empresa'],
      dtype='object')

In [32]:
renomear_colunas = {
    'ano': 'ano',
    'nivel_experiencia': 'senioridade',
    'tipo_emprego': 'contrato',
    'cargo': 'cargo',
    'salario': 'salario',
    'moeda_salario': 'moeda',
    'salario_em_usd': 'usd',
    'residencia_funcionario': 'residencia',
    'taxa_remoto': 'remoto',
    'localizacao_empresa': 'empresa',
    'porte_empresa': 'tamanho_empresa'
}

df.rename(columns=renomear_colunas, inplace=True)
df.columns

Index(['ano', 'senioridade', 'contrato', 'cargo', 'salario', 'moeda', 'usd',
       'residencia', 'remoto', 'empresa', 'tamanho_empresa'],
      dtype='object')

In [33]:
df['remoto'].value_counts()

remoto
0      105312
100     27718
50        319
Name: count, dtype: int64

In [35]:
df['contrato'].value_counts()

contrato
FT    132563
CT       394
PT       376
FL        16
Name: count, dtype: int64

In [36]:
df['senioridade'].value_counts()

senioridade
SE    77241
MI    40465
EN    12443
EX     3200
Name: count, dtype: int64

In [38]:
df['tamanho_empresa'].value_counts()

tamanho_empresa
M    129561
L      3574
S       214
Name: count, dtype: int64

In [39]:
senioridade = {
    'SE': 'Sênior',
    'MI': 'Médio',
    'EN': 'Entrada',
    'EX': 'Executivo'
}

df['senioridade'] = df['senioridade'].replace(senioridade)
df['senioridade'].value_counts()

senioridade
Sênior       77241
Médio        40465
Entrada      12443
Executivo     3200
Name: count, dtype: int64

In [ ]:
print('Primeiras 10 linhas do DataFrame com senioridade traduzida:')
display(df.head(10))

In [40]:
contrato = {
    'FT': 'Tempo Integral',
    'CT': 'Contrato',
    'PT': 'Tempo Parcial',
    'FL': 'Freelancer'
}

df['contrato'] = df['contrato'].replace(contrato)
display(df['contrato'].value_counts())

contrato
Tempo Integral    132563
Contrato             394
Tempo Parcial        376
Freelancer            16
Name: count, dtype: int64

In [41]:
print('Primeiras 10 linhas do DataFrame com a coluna \'contrato\' traduzida:')
display(df.head(10))

Primeiras 10 linhas do DataFrame com a coluna 'contrato' traduzida:

,ano,senioridade,contrato,cargo,salario,moeda,usd,residencia,remoto,empresa,tamanho_empresa
0,2025.0,Sênior,Tempo Integral,Solutions Engineer,214000,USD,214000,US,100,US,M
1,2025.0,Sênior,Tempo Integral,Solutions Engineer,136000,USD,136000,US,100,US,M
2,2025.0,Médio,Tempo Integral,Data Engineer,158800,USD,158800,AU,0,AU,M
3,2025.0,Médio,Tempo Integral,Data Engineer,139200,USD,139200,AU,0,AU,M
4,2025.0,Entrada,Tempo Integral,Data Engineer,90000,USD,90000,US,0,US,M
5,2025.0,Entrada,Tempo Integral,Data Engineer,80000,USD,80000,US,0,US,M
6,2025.0,Sênior,Tempo Integral,Data Scientist,185000,USD,185000,US,0,US,M
7,2025.0,Sênior,Tempo Integral,Data Scientist,148000,USD,148000,US,0,US,M
8,2025.0,Médio,Tempo Integral,Data Scientist,135000,USD,135000,CA,0,CA,M
9,2025.0,Médio,Tempo Integral,Data Scientist,108000,USD,108000,CA,0,CA,M

In [43]:
tamanho_empresa = {
    'M': 'Média',
    'L': 'Grande',
    'S': 'Pequena'
}

df['tamanho_empresa'] = df['tamanho_empresa'].replace(tamanho_empresa)
display(df['tamanho_empresa'].value_counts())

tamanho_empresa
Média      129561
Grande       3574
Pequena       214
Name: count, dtype: int64

In [ ]:
print('Primeiras 10 linhas do DataFrame com a coluna \'tamanho_empresa\' traduzida:')
display(df.head(10))

In [ ]:
print('Categorias originais da coluna \'remoto\':')
display(df['remoto'].value_counts())

In [44]:
remoto = {
    0: 'Presencial',
    50: 'Híbrido',
    100: 'Remoto'
}

df['remoto'] = df['remoto'].replace(remoto)
df['remoto'].value_counts()

remoto
Presencial    105312
Remoto         27718
Híbrido          319
Name: count, dtype: int64

In [45]:
df.head()

,ano,senioridade,contrato,cargo,salario,moeda,usd,residencia,remoto,empresa,tamanho_empresa
0,2025.0,Sênior,Tempo Integral,Solutions Engineer,214000,USD,214000,US,Remoto,US,Média
1,2025.0,Sênior,Tempo Integral,Solutions Engineer,136000,USD,136000,US,Remoto,US,Média
2,2025.0,Médio,Tempo Integral,Data Engineer,158800,USD,158800,AU,Presencial,AU,Média
3,2025.0,Médio,Tempo Integral,Data Engineer,139200,USD,139200,AU,Presencial,AU,Média
4,2025.0,Entrada,Tempo Integral,Data Engineer,90000,USD,90000,US,Presencial,US,Média

In [ ]:
print('Primeiras 10 linhas do DataFrame com a coluna \'remoto\' traduzida:')
display(df.head(10))

In [ ]:
print('Cargos mais frequentes na coluna "cargo":')
display(df['cargo'].value_counts().head(20))

In [46]:
cargo = {
    'Data Engineer': 'Engenheiro de Dados',
    'Data Scientist': 'Cientista de Dados',
    'Machine Learning Engineer': 'Engenheiro de Machine Learning',
    'Analytics Engineer': 'Engenheiro de Analytics',
    'Research Scientist': 'Cientista Pesquisador',
    'Data Analyst': 'Analista de Dados',
    'ML Engineer': 'Engenheiro de ML',
    'Applied Scientist': 'Cientista Aplicado',
    'Data Architect': 'Arquiteto de Dados',
    'Software Engineer': 'Engenheiro de Software',
    'Research Engineer': 'Engenheiro de Pesquisa',
    'Data Science Manager': 'Gerente de Ciência de Dados',
    'Cloud Engineer': 'Engenheiro de Nuvem',
    'MLOps Engineer': 'Engenheiro de MLOps',
    'Prompt Engineer': 'Engenheiro de Prompt',
    'AI Engineer': 'Engenheiro de IA',
    'Business Intelligence Engineer': 'Engenheiro de Business Intelligence',
    'Head of Data Science': 'Diretor de Ciência de Dados',
    'Data Product Manager': 'Gerente de Produto de Dados',
    'Machine Learning Scientist': 'Cientista de Machine Learning'
}

df['cargo'] = df['cargo'].replace(cargo)
df['cargo'].value_counts().head(20)

cargo
Cientista de Dados                     17315
Engenheiro de Software                 15007
Engenheiro de Dados                    14868
Analista de Dados                      12381
Engineer                                9456
Engenheiro de Machine Learning          8205
Manager                                 6679
Analyst                                 4364
Cientista Pesquisador                   3202
Product Manager                         2230
Cientista Aplicado                      2205
Associate                               2073
Arquiteto de Dados                      2024
Engenheiro de Analytics                 1895
Engenheiro de IA                        1620
Engenheiro de Pesquisa                  1614
Consultant                              1125
Data Manager                             975
Engenheiro de Business Intelligence      870
Data Specialist                          854
Name: count, dtype: int64

In [47]:
print('Primeiras 50 linhas do DataFrame:')
display(df.head(50))

Primeiras 50 linhas do DataFrame:

,ano,senioridade,contrato,cargo,salario,moeda,usd,residencia,remoto,empresa,tamanho_empresa
0,2025.0,Sênior,Tempo Integral,Solutions Engineer,214000,USD,214000,US,Remoto,US,Média
1,2025.0,Sênior,Tempo Integral,Solutions Engineer,136000,USD,136000,US,Remoto,US,Média
2,2025.0,Médio,Tempo Integral,Engenheiro de Dados,158800,USD,158800,AU,Presencial,AU,Média
3,2025.0,Médio,Tempo Integral,Engenheiro de Dados,139200,USD,139200,AU,Presencial,AU,Média
4,2025.0,Entrada,Tempo Integral,Engenheiro de Dados,90000,USD,90000,US,Presencial,US,Média
5,2025.0,Entrada,Tempo Integral,Engenheiro de Dados,80000,USD,80000,US,Presencial,US,Média
6,2025.0,Sênior,Tempo Integral,Cientista de Dados,185000,USD,185000,US,Presencial,US,Média
7,2025.0,Sênior,Tempo Integral,Cientista de Dados,148000,USD,148000,US,Presencial,US,Média
8,2025.0,Médio,Tempo Integral,Cientista de Dados,135000,USD,135000,CA,Presencial,CA,Média
9,2025.0,Médio,Tempo Integral,Cientista de Dados,108000,USD,108000,CA,Presencial,CA,Média
10,2025.0,Médio,Tempo Integral,BI Developer,118000,USD,118000,US,Remoto,US,Média
11,2025.0,Médio,Tempo Integral,BI Developer,51000,USD,51000,US,Remoto,US,Média
12,2025.0,Entrada,Tempo Integral,Analista de Dados,91900,USD,91900,US,Presencial,US,Média
13,2025.0,Entrada,Tempo Integral,Analista de Dados,54300,USD,54300,US,Presencial,US,Média
14,2025.0,Sênior,Tempo Integral,Cientista Aplicado,255000,USD,255000,US,Presencial,US,Média
15,2025.0,Sênior,Tempo Integral,Cientista Aplicado,190000,USD,190000,US,Presencial,US,Média
16,2025.0,Médio,Tempo Integral,Systems Engineer,196350,USD,196350,US,Presencial,US,Média
17,2025.0,Médio,Tempo Integral,Systems Engineer,130900,USD,130900,US,Presencial,US,Média
18,2025.0,Executivo,Tempo Integral,Director,170000,USD,170000,US,Presencial,US,Média
19,2025.0,Executivo,Tempo Integral,Director,160000,USD,160000,US,Presencial,US,Média
20,2025.0,Médio,Tempo Integral,Associate,119000,USD,119000,CA,Presencial,CA,Média
21,2025.0,Médio,Tempo Integral,Associate,105000,USD,105000,CA,Presencial,CA,Média
22,2025.0,Médio,Tempo Integral,Associate,120000,USD,120000,US,Presencial,US,Média
23,2025.0,Médio,Tempo Integral,Associate,110000,USD,110000,US,Presencial,US,Média
24,2025.0,Médio,Tempo Integral,Associate,120000,USD,120000,US,Presencial,US,Média
25,2025.0,Médio,Tempo Integral,Associate,110000,USD,110000,US,Presencial,US,Média
26,2025.0,Médio,Tempo Integral,Associate,120000,USD,120000,US,Presencial,US,Média
27,2025.0,Médio,Tempo Integral,Associate,110000,USD,110000,US,Presencial,US,Média
28,2025.0,Sênior,Tempo Integral,Engenheiro de Software,190000,USD,190000,US,Presencial,US,Média
29,2025.0,Sênior,Tempo Integral,Engenheiro de Software,150000,USD,150000,US,Presencial,US,Média
30,2025.0,Sênior,Tempo Integral,Consultant,180000,USD,180000,US,Presencial,US,Média
31,2025.0,Sênior,Tempo Integral,Consultant,130000,USD,130000,US,Presencial,US,Média
32,2025.0,Médio,Tempo Integral,Engenheiro de Software,98348,USD,98348,US,Presencial,US,Média
33,2025.0,Médio,Tempo Integral,Engenheiro de Software,88651,USD,88651,US,Presencial,US,Média
34,2025.0,Entrada,Tempo Integral,Analyst,122058,USD,122058,AU,Presencial,AU,Média
35,2025.0,Entrada,Tempo Integral,Analyst,110266,USD,110266,AU,Presencial,AU,Média
36,2025.0,Sênior,Tempo Integral,Product Manager,160000,USD,160000,US,Presencial,US,Média
37,2025.0,Sênior,Tempo Integral,Product Manager,100000,USD,100000,US,Presencial,US,Média
38,2025.0,Sênior,Tempo Integral,Software Developer,199100,USD,199100,JP,Presencial,JP,Média
39,2025.0,Sênior,Tempo Integral,Software Developer,94800,USD,94800,JP,Presencial,JP,Média
40,2025.0,Sênior,Tempo Integral,Engineer,170000,USD,170000,US,Presencial,US,Média
41,2025.0,Sênior,Tempo Integral,Engineer,130000,USD,130000,US,Presencial,US,Média
42,2025.0,Sênior,Tempo Integral,Developer,150000,USD,150000,US,Presencial,US,Média
43,2025.0,Sênior,Tempo Integral,Developer,114000,USD,114000,US,Presencial,US,Média
44,2025.0,Médio,Tempo Integral,Engenheiro de Dados,54785,GBP,69348,GB,Presencial,GB,Média
45,2025.0,Médio,Tempo Integral,Engenheiro de Dados,42180,GBP,53392,GB,Presencial,GB,Média
46,2025.0,Sênior,Tempo Integral,Engenheiro de Dados,104000,USD,104000,US,Presencial,US,Média
47,2025.0,Sênior,Tempo Integral,Engenheiro de Dados,72800,USD,72800,US,Presencial,US,Média
48,2025.0,Sênior,Tempo Integral,Analista de Dados,55114,GBP,69764,GB,Presencial,GB,Média
49,2025.0,Sênior,Tempo Integral,Analista de Dados,40736,GBP,51564,GB,Presencial,GB,Média

In [48]:
df.describe(include='object')

,senioridade,contrato,cargo,moeda,residencia,remoto,empresa,tamanho_empresa
count,133349,133349,133349,133349,133349,133349,133349,133349
unique,4,4,389,26,102,3,95,3
top,Sênior,Tempo Integral,Cientista de Dados,USD,US,Presencial,US,Média
freq,77241,132563,17315,126140,119579,105312,119641,129561

In [49]:
df.describe()

                 ano       salario            usd
count  133339.000000  1.333490e+05  133349.000000
mean     2024.358770  1.632833e+05  157617.272098
std         0.680627  2.173860e+05   74288.363097
min      2020.000000  1.400000e+04   15000.000000
25%      2024.000000  1.060200e+05  106000.000000
50%      2024.000000  1.470000e+05  146206.000000
75%      2025.000000  1.990000e+05  198000.000000
max      2025.000000  3.040000e+07  800000.000000